<!DOCTYPE html>
<html style="height:100%">

<head>
  <title>MALA | About</title>
  <%= require('../partials/head.html?raw') %>
</head>

<body>
  <%= require('../partials/nav.html?raw') %>
  <section class="section container content">
    <h1 class="title is-1">MALA</h1>
    <h6 class="subtitle is-6">The <strong>M</strong>ap of <strong>A</strong>pplications for <strong>L</strong>inguistic <strong>A</strong>nnotations</h2>
    <p>
      <strong style="padding-right:1em">MALA</strong>
      MALA is a curated list of applications for collecting and annotating natural language text.
    </p>
    <p>
      <strong style="padding-right:1em">Scope</strong>
      MALA intends to be broad in scope, including apps used by both the computer science/NLP community and those used by the linguistics community.
    </p>
    <p>
      <strong style="padding-right:1em">Contributing</strong>
      If you have an application you'd like to add, or you want to submit a correction to an already-listed app, please see our <a href="https://github.com/lgessler/mala">GitHub page</a>.
    </p>



  </section>
</body>

</html>