<header class="content">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="./">
        <span><strong>MALA</strong></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="./about.html">
          About
        </a>
        <a class="navbar-item" href="https://github.com/lgessler/mala">
          Contribute
        </a>
      </div>
    </div>
  </nav>
</header>